/*title page*/
  .title-slide {
    background-image: url(../../images/background1.png);
    background-size: cover;
  }

  .title-slide h1,
  .title-slide h3 {
    text-align: left !important;
    width: 55% !important;
    text-shadow: none !important;
    color: #42766a !important;
  }

  .title-slide h3 {
    margin-top: 40px !important;
  }

  .title-slide {
    padding: 1em 4em 1em 2em !important;
  }

/* citation in bottomright page*/
.cite {
    bottom: 12px;
    font-style: italic;
    opacity: .8;
    position: absolute;
    right: 100px;
}

/* page number*/
.remark-slide-number {
  bottom: 11px;
  opacity: .6;
  position: absolute;
  right: 20px;
}

/* hyperlink color */
a {
  color: #42766a;
}

/* background color of inverse slide */
.inverse {
    background-color: #325049;
    color: #d6d6d6;
    text-shadow: 0 0 20px #333;
}
